@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="form-group col-xl-4 col-md-6 mb-4">

    <label for="formGroupExampleInput2">Data de pagamento</label>
    <input type="date" class="form-control mb-3 " id="formGroupExampleInput2" placeholder="">

</div>
